ul.squarepoints {
    position: relative;
    list-style-type: square;
    font-size: 20px;
    background: linear-gradient(rgb(249, 147, 201), rgb(205, 177, 192));
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap; 
}

.card section {
    width: 23%; 
    margin: 10px;
    padding: 20px;
    border: 10px solid #dcd6d6;
    text-align: center;
    box-sizing: border-box;
}

.card img {
    position: relative;
    max-width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.image-section img{
    position: relative;
    width: 100px;
    height: 130px;
    margin-bottom: 7px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
    border: 6px solid #dcd6d6;
    text-align: center;
    box-sizing: border-box;
    
}

.text a{
    position: relative;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.text h3{
    text-align: center;
}

.text1 h3{
    text-align: center;
}
.text1 a{
    position: relative;
    font-size: 12px;
    text-decoration: none;
    padding-left: 10px;
    color: black;
   
}

.text1 i{
    position: relative;
    font-size: 25px;
   
}


table, td,tr{
    position: relative;
    width: 500px;
    border: 2px solid #242323;
    text-align: left;
    padding: 10px;
}

.centre{
    position: relative;
    text-align: center;
}