

body {
    font-family: Arial, sans-serif;
}

.navbar {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #746969;
    padding: 10px 10px;
  font-size: 18px;
   
}

.navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin: 0 10px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
    margin-left: 40px;
}

.navbar-links a:hover {
    color: #ddd;
}


