
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}


section {
    padding: 50px 0;
    background-color: #f0f0f0; 
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse; 
}
.content .left, .content .right {
    flex: 1;
    padding: 0 20px;
}


.content ul {
    list-style-type: disc; 
    padding-left: 20px;
    
}

.content li{
    margin-bottom: 10px;
}
 p{
    font-size: 18px;
}


.right img{
    position: relative;
    width: 370px;
    height: 300px;
}
/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
